*.gem
*.sublime-project
*.sublime-workspace
.bundle
.DS_Store
.jekyll-metadata
.sass-cache
_asset_bundler_cache
_site
codekit-config.json
example/_site
Gemfile.lock
node_modules
npm-debug.log*
.obsidian*
# automatically merged files (see merge-sources.sh)
guidelines/index.md
study-types/index.md
study-types/_sources/*.md
